/*
    Sortable appends the grabbed element to the body of the page, outside the reach of a lightning component.
    We need to use an external stylesheet to style that element.
*/
.drag.chosen > .rotate-container {
    transform: rotate(3deg);
}

.drag.chosen {
    opacity: 1 !important;
}

.drag.chosen article {
    background-color: #fafaf9;
}

.drag.chosen .template-card .collapsible {
    display: none;
}

.drag.chosen .template-card .ghost-item {
    display: block;
}
