.placeHChange input::placeholder{
    color: black;
    opacity: 1;
}

.fh-fc-input input{
    text-align: center !important;
}

.slds-form-element__help{
    display: none !important;
}

.input-derate input{
    text-align: right !important;
}

.slds-radio{
    display: inline-block !important;
}